{% extends '_base.html' %}

{% block content %}

<h1>Homepage</h1>

<p>Hello {{user.first_name}}</p>
<a href="{% url 'users:logout' %}">Log out</a>
<br><br><br>

<h2>Forums:</h2>
{% for forum in forums %}
    <a href="{% url 'forums:forum' forum.id %}">{{forum.name}}</a>
{% endfor %}
<br>
<h2>Added events :</h2>
{% for event in users_events %}
    <p>{{event.title}}<br>{{event.date}}</p>
{% endfor %}
<br>
<h2>Other Upcoming Events:</h2>
{% for event in events %}
    {% if event not in users_events %}
        <p>{{event.title}}<br>{{event.date}}</p>
    {% endif %}
{% endfor %}

{% endblock content %}