{% extends '_base.html' %}

<style>
    h1 {
        color:Green;
    }
    div.scroll {
        margin:4px, 4px;
        padding:4px;
        background-color: green;
        width: 500px;
        height: 110px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align:justify;
    }
</style>


{% block content %}
<h1>Homepage</h1>
{% if user.is_authenticated %}
<p>Hello {{user.first_name}}</p>
<a href="{% url 'users:logout' %}" >Log Out</a>
{% else %}
<a href="{% url 'users:login' %}" >Log In</a>
{% endif %}
{% endblock content %}